@{
    ViewData["Title"] = "Forgot Password";
}

<head>
    <link rel="stylesheet" href="~/Css/forgotpassword.css">
</head>
<div class="Forgot">
    <div class="logo-Forgot">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR2m8NiRX6-wxSoBw_C4cRDKCLFg_wySkYk0ymWLaSAyq3n3Y0o"
            alt="">
    </div>
    <div class="Forgot-container">
        <span>ĐĂNG NHẬP</span>
        <form action="/submit-Forgot" method="post">
            <input type="text" name="phonenumber" placeholder="Số điện thoại" required>
            <input type="submit" value="Tiếp tục">

        </form>
    </div>
</div>
