@{
    ViewData["Title"] = "Chi tiết phiếu sức khỏe định kì";
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet" />
</head>

<body>
    <div class="flex  items-center justify-center ">
        <div class="w-full max-w-lg rounded-lg bg-white p-6 shadow-lg">
            <div class="mb-6 text-center">
                <span class="text-2xl font-bold">Chi tiết phiếu sức khỏe định kì</span>
            </div>
            <form action="/submit-vaccination-schedule" method="post" class="flex flex-col space-y-4">
                <div class="form-group">
                    <label for="ten-thanh-vien" class="mb-2 block text-left font-bold">Tên Thành Viên</label>
                    <input type="text" id="ten-thanh-vien" name="Tên Thành Viên" placeholder="Nhập vào đây" required
                        value="Lưu Hồng Hữu" class="w-full rounded border border-gray-300 p-2" />
                </div>
                <div class="form-group">
                    <label for="ngay-tiem" class="mb-2 block text-left font-bold">Ngày tiêm</label>
                    <input id="ngay-tiem" name="Ngày tiêm" required value="26/6/2024"
                        class="w-full rounded border border-gray-300 p-2" />
                </div>


                <div class="form-group">
                    <label for="dia-diem-tiem" class="mb-2 block text-left font-bold">Địa điểm tiêm</label>
                    <input type="text" id="dia-diem-tiem" name="Địa điểm tiêm" placeholder="Nhập vào đây" required
                        value="Hồ Chí Minh" class="w-full rounded border border-gray-300 p-2" />
                </div>
                <div class="form-group">
                    <label for="dia-diem-tiem" class="mb-2 block text-left font-bold">Địa điểm tiêm</label>
                    <input type="text" id="dia-diem-tiem" name="Địa điểm tiêm" placeholder="Nhập vào đây" required
                        value="Hồ Chí Minh" class="w-full rounded border border-gray-300 p-2" />
                </div>
                <div class="form-group">
                    <label for="Huyet-ap" class="mb-2 block text-left font-bold">Huyết áp</label>
                    <input type="text" id="huyet-ap" name="huyết áp" placeholder="Nhập vào đây" value="130 mhg" required
                        class="w-full rounded border border-gray-300 p-2" />
                </div>
                <div class="form-group">
                    <label for="nhip-tim" class="mb-2 block text-left font-bold">Nhịp tim</label>
                    <input type="text" id="nhip-tim" name="nhịp tim" placeholder="Nhập vào đây" value="90 nhịp/tim"
                        required class="w-full rounded border border-gray-300 p-2" />
                </div>
                <div class="form-group">
                    <label for="chieu-cao" class="mb-2 block text-left font-bold">Chiều cao</label>
                    <input type="text" id="chieu-cao" name="chiều cao" placeholder="Nhập vào đây" value="1m60" required
                        class="w-full rounded border border-gray-300 p-2" />
                </div>
                <div class="form-group">
                    <label for="can-nang" class="mb-2 block text-left font-bold">Cân nặng</label>
                    <input type="text" id="can-nang" name="cân nặng" placeholder="Nhập vào đây" value="50kg" required
                        class="w-full rounded border border-gray-300 p-2" />
                </div>
                <div class="mt-4 flex w-full justify-between">
                    <input type="submit" value="Ghi chú"
                        class="mr-2 w-1/2 cursor-pointer rounded bg-blue-500 p-2 text-white hover:bg-blue-600" />
                    <input type="submit" value="Sửa"
                        class="ml-2 w-1/2 cursor-pointer rounded bg-green-500 p-2 text-white hover:bg-green-600" />
                </div>
            </form>
        </div>
    </div>
</body>
