@{
    ViewData["Title"] = "Đăng kí tiêm chủng";
}

<head>
    <link rel="stylesheet" href="~/css/dangkitiemchung.css">
</head>

<body>
    <div class="register-vaccination">
        <div class="register-vaccinationo-title">
            <span class="title-register-vacciantion">Đăng kí tiêm chủng</span>
        </div>
        <div class="register-vaccination-form">
            <form action="/submit-register-vaccination" method="post-form">
                <div class="form-group">
                    <label for="ten-thanh-vien">Họ và tên <span style="color: red;">*</span></label>
                    <input type="text" id="ten-thanh-vien" name="Tên Thành Viên" placeholder="Nhập vào đây" required>
                </div>

                <div class="form-group">
                    <label for="ngay-tiem">Ngày tháng năm sinh <span style="color: red;">*</span></label>
                    <input type="date" id="ngay-tiem" name="Ngày tiêm" required>
                </div>
                <div class="form-group">
                    <label>Giới tính <span style="color: red;">*</span></label>
                    <div class="checkbox-group">
                        <label for="nam">
                            <input type="radio" id="nam" name="gioi_tinh" value="Nam" required>
                            Nam
                        </label>
                        <label for="nu">
                            <input type="radio" id="nu" name="gioi_tinh" value="Nu" required>
                            Nữ
                        </label>
                        <label for="khac">
                            <input type="radio" id="khac" name="gioi_tinh" value="Khac" required>
                            Khác
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <label for="loai-vac-xin">Hộ chiếu/CMND/CCCD <span style="color: red;">*</span></label>
                    <input type="text" id="loai-vac-xin" name="Loại Vắc-xin" placeholder="Nhập vào đây" required>
                </div>
                <div class="form-group">
                    <label for="loai-tiem">Số thẻ BHYT</label>
                    <input type="text" id="loai-tiem" name="Loại tiêm" placeholder="Nhập vào đây" required>
                </div>
                <div class="form-group">
                    <label for="dia-diem-tiem">Thời gian tiêm <span style="color: red;">*</span></label>
                    <input type="date" id="dia-diem-tiem" name="Địa điểm tiêm" placeholder="Nhập vào đây" required>
                </div>
                <div class="form-group">
                    <label for="chi-phi">Loại Vacxin <span style="color: red;">*</span></label>
                    <input type="text" id="chi-phi" name="Chi phí" placeholder="Nhập vào đây" required>
                </div>
                <div class="form-group">
                    <label for="chi-phi">Địa chỉ tiêm <span style="color: red;">*</span></label>
                    <input type="text" id="dia-chi-tiem" name="Địa chỉ tiêm" placeholder="Nhập vào đây" required>
                </div>
                <div class="register-vaccination-button">
                    <input type="submit" value="Lưu" style="background: #107CFA;">
                </div>
            </form>
        </div>
    </div>
</body>
