@{
    ViewData["Title"] = "Lịch tiêm chủng";
}

<head>
    <link rel="stylesheet" href="~/Css/lichtiemchung.css">
</head>

<body>
    <div class="History-vaccination">
        <div class="History-vaccination">
            <span>Lịch tiêm chủng</span>
        </div>
        <div class="History-vaccination-form">
            <form action="/submit-History-vaccination" method="post">
                <div class="form-group">
                    <label for="ten-thanh-vien">Tên Thành Viên</label>
                    <input type="text" id="ten-thanh-vien" name="Tên Thành Viên" placeholder="Nhập vào đây" required>
                </div>
                <div class="form-group">
                    <label for="ngay-tiem">Ngày tiêm</label>
                    <input type="date" id="ngay-tiem" name="Ngày tiêm" required>
                </div>
                <div class="form-group">
                    <label for="loai-vac-xin">Loại Vắc-xin</label>
                    <input type="text" id="loai-vac-xin" name="Loại Vắc-xin" placeholder="Nhập vào đây" required>
                </div>
                <div class="form-group">
                    <label for="loai-tiem">Loại tiêm</label>
                    <input type="text" id="loai-tiem" name="Loại tiêm" placeholder="Nhập vào đây" required>
                </div>
                <div class="form-group">
                    <label for="dia-diem-tiem">Địa điểm tiêm</label>
                    <input type="text" id="dia-diem-tiem" name="Địa điểm tiêm" placeholder="Nhập vào đây" required>
                </div>
                <div class="form-group">
                    <label for="chi-phi">Chi phí</label>
                    <input type="text" id="chi-phi" name="Chi phí" placeholder="Nhập vào đây" required>
                </div>
                <div class="History-vaccination-button">
                    <input type="submit" value="Ghi chú">
                    <input type="submit" value="Lưu">
                </div>
            </form>
        </div>
    </div>
</body>
