@model List<SoSucKhoe.Models.Main.PhieuSucKhoe>
@{
    ViewData["Title"] = "Thống kê phiếu sức khoẻ";
}
<link rel="stylesheet" href="~/css/thongkephieusuckhoe.css">

<body>
    <h1 class="title-card-vaccin">Thống kê phiếu sức khoẻ</h1>
    @foreach (var item in Model)
    {


        <div class="card-vaccin">

            <div class="info-card">
                <p class="vaccine-card-vaccin">@item.TenBenh</p>
            </div>

            <div class="info-card-vaccin">
                <p class="name" style="font-weight: 700;">Họ và tên: </p>
                <p class="name-user">@item.Hoten</p>
            </div>

            <div class="info-card-vaccin">
                <p class="address" style="font-weight: 700;">Địa chỉ tiêm: </p>
                <p class="address-user"> @item.Diadiem</p>
            </div>

            <div class="info-card-vaccin">
                <p class="date" style="font-weight: 700;">Ngày khám: </p>
                <p class="date-user">@item.NgayKham</p>
                <button class="button-detail"> Xem chi tiết</button>
            </div>
        </div>
    }
</body>