@{
    ViewData["Title"] = "Thống kê phiếu sức khoẻ";
}
<link rel="stylesheet" href="~/css/thongkephieusuckhoe.css">

<body>
    <h1 class="title-card-vaccin">Thống kê phiếu sức khoẻ</h1>
    <div class="card-vaccin">

        <div class="info-card">
            <p class="vaccine-card-vaccin">Cảm cúm</p>
        </div>

        <div class="info-card-vaccin">
            <p class="name" style="font-weight: 700;">Họ và tên: </p>
            <p class="name-user"> Lê Tiên Nhất Linh</p>
        </div>

        <div class="info-card-vaccin">
            <p class="address" style="font-weight: 700;">Địa chỉ tiêm: </p>
            <p class="address-user"> Bệnh viện Thống Nhất</p>
        </div>

        <div class="info-card-vaccin">
            <p class="date" style="font-weight: 700;">Thời gian tiêm: </p>
            <p class="date-user">19/06/2004</p>
            <button class="button-detail"> Xem chi tiết</button>
        </div>


    </div>
</body>