@{
    ViewData["Title"] = "Thống kê sức khỏe định kì";
}
<link rel="stylesheet" href="~/css/thongketiemchung.css">

<body>
    <h1 class="title-statistics-vaccin">Thống kê sức khỏe định kì</h1>
    <div class="statistics-vaccin">

        <div class="info">
            <p class="vaccine-statistics-vaccin">Gam-COVID-Vac (SPUTNIK V)</p>
        </div>
        <div style="display: flex; gap:30px">
            <div class="info-statistics-vaccin" style="gap:5px">
                <p class="name" style="font-weight: 700">Họ và tên: </p>
                <p class="name-user"> Lê Tiên Nhất Linh</p>
            </div>
            <div class="info-statistics-vaccin" style="gap:5px">
                <p class="date" style="font-weight: 700">Ngày khám:</p>
                <p class="date-user">26/06/2024</p>
            </div>
        </div>
        <div class="info-statistics-vaccin" style="gap:5px">
            <p class="text" style="font-weight: 700;">Huyết áp: </p>
            <p class="address-user"> 120mHg</p>
        </div>
        <div class="info-statistics-vaccin" style="gap:5px">
            <p class="address" style="font-weight: 700;">Nhịp tim: </p>
            <p class="address-user"> 70 nhịp/phút</p>
        </div>
        <div class="info-statistics-vaccin" style="gap:5px">
            <p class="tall" style="font-weight: 700;">Chiều cao:</p>
            <p class="tall-user">1m7</p>

        </div>
        <div class="info-statistics-vaccin" style="gap:5px">
            <p class="fax" style="font-weight: 700;">Cân nặng : </p>
            <p class="fax-user">58kg </p>

            <button class="button-detail"> Xem chi tiết</button>
        </div>


    </div>
</body>