@{
    ViewData["Title"] = "Thông tin sức khỏe định kì";
}

<head>
    <link rel="stylesheet" href="~/Css/thongtinsuckhoe.css">
</head>

<body>
    <div class="Infor-health">
        <div class="Infor-health-title">
            <span>Thông tin sức khỏe định kì</span>
        </div>
        <div class="Infor-health-form">
            <form action="/submit-infor-health" method="post">
                <div class="form-group">
                    <label for="ten-thanh-vien">Tên Thành Viên</label>
                    <input type="text" id="ten-thanh-vien" name="Tên Thành Viên" placeholder="Nhập vào đây" required>
                </div>
                <div class="form-group">
                    <label for="ngay">Ngày</label>
                    <input type="date" id="ngay" name="Ngày" required>
                </div>
                <div class="form-group">
                    <label for="huyet-ap">Huyết áp</label>
                    <input type="text" id="huyet-ap" name="Huyết áp" placeholder="Nhập vào đây" required>
                </div>
                <div class="form-group">
                    <label for="nhip-tim">Nhịp tim</label>
                    <input type="text" id="nhip-tim" name="Nhịp tim" placeholder="Nhập vào đây" required>
                </div>
                <div class="form-group">
                    <label for="chieu-cao">Chiều cao</label>
                    <input type="text" id="chieu-cao" name="Chiều cao" placeholder="Nhập vào đây" required>
                </div>
                <div class="form-group">
                    <label for="can-nang">Cân nặng</label>
                    <input type="text" id="can-nang" name="Cân nặng" placeholder="Nhập vào đây" required>
                </div>
                <div class="Infor-health-button">
                    <input type="submit" value="Ghi chú">
                    <input type="submit" value="Lưu">
                </div>
            </form>
        </div>
    </div>
</body>
