@{
    ViewData["Title"] = "Thống kê tiêm chủng";
}
<link rel="stylesheet" href="~/css/thongketiemchung.css">

<body>
    <h1 class="title-statistics-vaccin">Thống kê tiêm chủng</h1>
    <div class="statistics-vaccin">

        <div class="info">
            <p class="vaccine-statistics-vaccin">Gam-COVID-Vac (SPUTNIK V)</p>
        </div>

        <div class="info-statistics-vaccin">
            <p class="name" style="font-weight: 700;">Họ và tên: </p>
            <p class="name-user"> Lê Tiên Nhất Linh</p>
        </div>

        <div class="info-statistics-vaccin">
            <p class="address" style="font-weight: 700;">Địa chỉ tiêm: </p>
            <p class="address-user"> Bệnh viện Thống Nhất</p>
        </div>

        <div class="info-statistics-vaccin">
            <p class="date" style="font-weight: 700;">Thời gian tiêm: </p>
            <p class="date-user">19/06/2004</p>
            <button class="button-detail"> Xem chi tiết</button>
        </div>


    </div>
</body>