

.Forgot {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-Forgot img {
    width: 100px;
    margin-bottom: 20px;
}

.Forgot-container {
    width: 400px;
    height: 200px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
   
}

.Forgot-container form {
    display: flex;
    flex-direction: column;
}

.Forgot-container input[type="text"],
.Forgot-container input[type="password"] {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #000;
    border-radius: 5px;
}

.Forgot-container input[type="submit"] {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.Forgot-container input[type="submit"]:hover {
    background-color: #45a049;
}
.forgot-password {
    text-align: right;
    margin: 10px 0;
}

.forgot-password a {
    text-decoration: none;
    color: #007BFF;
}

.forgot-password a:hover {
    text-decoration: underline;
}
